<div class="flex flex-row flex-wrap -mx-2">
  <div class="w-full m-1" *ngFor="let item of repoList; let i = index">
    <div class="relative bg-white rounded border">
      <div class="p-5 ">
        <h3 class="text-lg font-bold">
          <a class="stretched-link" href="#" title="Card 1">
            {{ item.name }}
          </a>
        </h3>
        <time class="block mb-2 text-sm text-gray-600" datetime="2019-01-01"
          >Stars: {{ item.stargazers_count }}</time
        >
        <p>
          {{ item.description }}
        </p>
        <a class="btn btn-blue">View Branches</a>
        <div class="mt-8 mb-3">
          <a
            href="/search/{{ organizationName }}/{{ item.name }}"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-4 rounded"
            >View Branches</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
